<p id="notice"></p>

<p>
  <strong>Beer club:</strong>
  <%= link_to @membership.beer_club.name, @membership.beer_club %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @membership.user.username, @membership.user %>
</p>

<%= edit_and_destroy_buttons(@membership) %>
